.test{
    color: red;
}
.modules{
    display: none;
}

@media only screen and (max-width: 1024px) {
    
      .modules{
        display: none;
        margin-left: 35%;
        font-weight: 600;


      }
      
    
  }
  
  @media only screen and (max-width: 900px) {
    
    .modules{
      display: block;
      margin-left: 35%;
      font-weight: 600;


    }
    
  
}