.product-inner-box .icons{
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    
}
.product-inner-box .icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}
.product-inner-box img{
    box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
    height: 350px;
    width: 100%;
    object-fit: cover;
    
}
.product-box.is-hover .icons{
    transform: rotate(-3%);
    top: 3%;
    opacity: 1;
}
.cart-btn{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    margin-left: 10%;
}