#blog_top{
    height: 100%;
    background-color: #101010;
  
    padding-top: 10%;
    padding-bottom: 10%;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: black;


  
    
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
   
    margin-left: 100px;
  }
 .inswiper{
  margin-left: -150px;
}
  
  